*{
  margin: 0;
  padding: 0;
}
header{
  position: fixed;
  width: 100vw;
  height: 70px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*border-bottom: 2px solid #000;*/
  z-index: 1;
}

.logo{
  margin-left: 30px;
  font-size: 40px;
  color: #000;
  text-decoration: none;
}

.menu ul{
  display: flex;
  list-style: none;
}
.menu li {
  margin: 30px;
}
.menu li a {
  font-size: 20px;
  text-decoration: none;
  color: #000;
  /*padding: 20px;*/
  /*display: block;*/
  text-transform: uppercase;
}


.menu li a:hover {
  background: #dfebeb34;
  /* transition: all 0.5s; */
  /* border-radius: 10px; */
}

.hero{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url(./auto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*z-index: 1;*/
}
.hero::after{
  content: " ";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}
.marquee{
  z-index: 11111;
  position:relative;
}











